@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  height: 100vh;
  background-color: #0B2E33;
  color: white;
 font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       /* center horizontally */
  text-align: center;
}

/* Title */
.title {
  font-size: 50px;
  margin-bottom: 10px;
}

/* Subtitle */
.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Links */
a {
  display: block;
  margin: 8px 0;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}
