@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cedarville+Cursive&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sekuya&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: #224941;
    color: #ffffff;
    font-family: font-family: "Sekuya", system-ui;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
    
}
