*
{
    box-sizing: border box;
}

body{
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn
{
    background: rebeccapurple;
    color: white;
    margin: 1rem;
    
/* 1rem: unit of measurement: */
}
