*{
    box-sizing: border-box;
}
body{
    background: #add8e6;
    color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
    display: felx;
    margin: 0;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;

  border-bottom: 200px solid black;
}

.rectangle
{
    
}
