* {
    box-sizing: border-box;

}
 body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.container
 {
    display: flex;
    width: 50vw;

 }
 /* --give user 2 options:
 (mountains or beach) */
/* if clicked mountains : make collage having 5 pictures */
/* if beach: make collage having 5 pic about beach */
