* {
    box-sizing: border-box;

}
 body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.container
 {
    display: flex;
    width: 50vw;

 }

.panel.active{
    flex: 10;
}

.panel {
     background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
    height: 40vh;
    border-radius: 80px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    position: relative;
    bottom: 10px;
}
